body{
    font-family: Arial;
    background-color: rgb(1, 1, 38);
    color: white;
}
.todo-grid,
.input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.name-input,.date-input{
    font-size: 15px;
    padding: 6px;
}
.add-btn{
    background-color: rgb(30, 218, 55);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
}
.delete-btn{
    background-color: rgb(199, 5, 5);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}